<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Panel - Rasta Clinic</h1>

<h2>Add Appointment</h2>

<form action="/add_appointment" method="POST">
    <input type="text" name="patient_name" placeholder="Patient Name" required>
    <br><br>

    <input type="text" name="therapist_name" placeholder="Therapist Name" required>
    <br><br>

    <input type="text" name="date" placeholder="Date" required>
    <br><br>

    <input type="text" name="time" placeholder="Time" required>
    <br><br>

    <button type="submit">Save Appointment</button>
</form>

<hr>

<h2>Appointments List</h2>

{% for a in appointments %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <p>Patient: {{ a.patient_name }}</p>
        <p>Therapist: {{ a.therapist_name }}</p>
        <p>Date: {{ a.date }}</p>
        <p>Time: {{ a.time }}</p>
        <p>Status: {{ a.status }}</p>
    </div>
{% endfor %}

</body>
</html>
