{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>تقویم نوبت‌ها</h2>
    <p>برای مشاهده نوبت‌های هر روز، تاریخ را از لیست انتخاب کنید</p>
</div>

<div class="card">
    <form method="GET" action="/calendar">

        <input type="date" name="selected_date">

        <button type="submit">
            مشاهده
        </button>

    </form>
</div>

<div class="card">
    <h3>نوبت‌های روز انتخاب‌شده</h3>

    <table>
        <tr>
            <th>نام مراجع</th>
            <th>ساعت</th>
            <th>وضعیت</th>
            <th>پرداخت</th>
            <th>مبلغ</th>
        </tr>

        {% for a in appointments %}
        <tr>
            <td>{{ a.patient_name }}</td>
            <td>{{ a.time }}</td>
            <td>{{ a.status }}</td>
            <td>{{ a.payment_status }}</td>
            <td>{{ a.paid_amount }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
