{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>پنل درمانگر</h2>
    <p>تعداد کل مراجعین: {{ total }}</p>
    <p>جلسات انجام‌شده: {{ done }}</p>
</div>

<div class="card">
    <h3>نوبت‌های امروز</h3>

    <table>
        <tr>
            <th>نام مراجع</th>
            <th>ساعت</th>
            <th>وضعیت</th>
        </tr>

        {% for a in today_appointments %}
        <tr>
            <td>{{ a.patient_name }}</td>
            <td>{{ a.time }}</td>
            <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <h3>تمام نوبت‌ها</h3>

    <table>
        <tr>
            <th>تاریخ</th>
            <th>نام مراجع</th>
            <th>ساعت</th>
            <th>وضعیت</th>
        </tr>

        {% for a in all_appointments %}
        <tr>
            <td>{{ a.date }}</td>
            <td>{{ a.patient_name }}</td>
            <td>{{ a.time }}</td>
            <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
