def add_appointment():

    patient_name = request.form['patient_name']
    date = request.form['date']
    time = request.form['time']
    therapist_id = request.form['therapist_id']

    # 🔒 جلوگیری از رزرو تکراری
    existing = Appointment.query.filter_by(
        therapist_id=therapist_id,
        date=date,
        time=time
    ).first()

    if existing:
        return "This time slot is already booked!"

    new_app = Appointment(
        patient_name=patient_name,
        date=date,
        time=time,
        therapist_id=therapist_id,
        status="booked"
    )

    db.session.add(new_app)
    db.session.commit()

    return redirect('/admin')
